@import "variables.scss";

$sans: Red Hat, Helvetica Neue, Helvetica, Arial, sans-serif;
$serif: serif;
// $serif: Vollkorn, serif;
$width: 450px;
// $width: 1024px;
// $breakpoint: get-breakpoint();

body {
    background: #f5f6f9;
    color: black;
}

h2 {
    text-align: center;
}

div.gameContainer {
    max-width: $width;
    margin: 0 auto;
}

ul.gameBoard-grid {
    max-width: 350px;
    margin: 0 auto;
    padding: 0.5em 0;
    list-style: none;
}

ul.gameBoard-grid-row-list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
}

li.gameBoard-grid-item {
    margin: 1%;
    padding: 1%;
    display: inline-block;
    width: 15%;
    aspect-ratio: 1;
    border: 1px solid;
    text-align: center;
}

li.eval-right-pos {
    background-color: green;
}

li.eval-wrong-pos {
    background-color: yellow;
}

li.eval-not-in-word {
    background-color: #999;
}

li.invalid-guess {
    background-color: red;
}

button {
    background-color: #ddd;
    color: black;
    cursor: pointer;
    user-select: none;
    border: none;
    font-size: 90%;
}
button.key-green {
    background-color: green;
}
button.key-yellow {
    background-color: yellow;
}
button.key-black {
    background-color: #999;
}

div.keyboard {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0.5em 0;
}

button.keyboard-key {
    width: 1.75em;
    height: 3em;
    margin: 0.1em;
    height: 3em;
}

button.wide-key {
    width: 3.25em;
}

div.gameContainer-ui {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 0.5em 0;
}

button.button-new-game {
    height: 2.5em;
    padding: 0 1em;
    display: block;
    margin: 0.5em auto;
}

select.gameMode-picker {
    height: 2.5em;
    padding: 0 1em;
    display: block;
    margin: 0.5em auto;
}
